body {
    margin: 0;
    font-family: Nunito Sans, Arial;
}

body * {
    box-sizing: border-box;
}

.heder {
    background-color: #131313;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.header-navigation {
    display: flex;
    list-style: none;
}

.header-navigation__item {
    margin-right: 45px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
    font-size: 11px;
}

.header-navigation__tel {
    margin-left: 22.36px;
}

.header-navigation__tel a {
    color: white;
    font-size: 11px;
}

.header-navigation a:hover,
.header-navigation__tel a:hover {
    color: #E3B873;
}

.logo {
    color: #E3B873;
    margin-left: 92px;
}

.button {
    margin-right: 90px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

/***************************
**************section ***
****************************/
.main {
    overflow: hidden;
}

.section {
    position: relative;
    background-image: url(imeges/hero.jpg);
    background-size: cover;
    height: 707px;
    max-width: 100%;
    overflow: hidden;

}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.content2 {
    position: relative;
    z-index: 1;
    margin-top: 196.52px;
    margin-left: 135.62px;
}

.title,
.title2,
.title3,
.title4,
.title5 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.span {
    color: #E3B873;
}

.section-p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.button-col {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-right: 15.96px;
    width: 206.43px;
    height: 49.86px;
}

.button-col:hover {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
}

.section-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

/**************************
**************2section***/
.section2 {
    max-width: 100%;
    height: 1056px;
    background: #131313;
}

.im__mob {
    display: none;
}

.section2__text {
    margin-right: 121px;
    padding-top: 69px;
}

.content3 {
    display: flex;
    padding-top: 80px;
    padding-left: 108px;
}

.title2 {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.block__1 {
    margin-right: 29px;
}

.section2-p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.block {
    display: flex;
}

.title3,
.title3z {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.title3z {
    margin-top: 55px;

}

.title3 {
    margin-top: 34px;
}

.block-p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.im {
    position: relative;
    top: 79.64px;
}

.dot {
    margin-left: 17.54px;
}

.slaid-richt {
    margin-left: 29px;
}

.slaid-left {
    margin-right: 11.46px;
}

.section2-navigation {
    display: flex;
    list-style: none;
}

.section2-navigation__item {
    margin-right: 30.5px;
}

.section2-navigation__item a {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.section2-navigation__item a:hover {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    text-decoration: underline;
}

.section-icon {
    margin: 0 auto;
    width: 196px;
    height: 66.79px;
}

.title4 {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.icon {
    margin: 0 auto;
    width: 114px;
    height: 33px;
}

.imeges {
    background-image: url(imeges/hero2.jpg);
    max-width: 670px;
    height: 482px;
}

/*************************
*********section3*******/
.section3 {
    max-width: 100%;
}

.section3-arbait {
    position: relative;
    height: 434px;
    max-width: 817px;
    background-image: url(imeges/arbait.jpg);
    margin: 0 auto;
    top: -100px;
    padding-top: 174px;
    padding-left: 365px;
}

.section3-arbait__overlo {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.section3-arbait__icon {
    position: relative;
    width: 85px;
    height: 85px;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 50%;
    padding: 29px;
}

.play {
    width: 28px;
    height: 28px;
    position: absolute;
    margin: 0 auto;
}

.text-pr {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.section3-form {
    margin: 0 auto;
    width: 769px;
    height: 51px;

}

.section3-form__bloc {
    display: flex;
}

.section3-form__bloc_in {
    border: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.section3-form__bloc_1 {
    margin-right: 49px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;
}

.section3-form__bloc_label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    transform: rotate(-0.07deg);
}

.submitform {
    width: 200px;
    height: 51px;
}

.section3-form__bloc_checkbox {
    margin-left: 150px;
    margin-top: 31.15px;
}



.container__icon {
    margin: 147px 0px 31px 0px;
}

.title5 {

    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #181818;
    text-align: center;
}

.section3__interior {
    margin-top: 31px;
    margin-left: 60px;
    display: flex;
}

.section3__interior_1 {
    margin-right: 30px;
}

.section3__interior_2 {
    height: 286px;
    max-width: 330px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    top: -140px;
    left: 31px;
}

.section3__interior_li {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.section3__interior_tit {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.section3__interior_ul {
    position: relative;
    top: 25px;
}

.section3__interior_but {
    max-width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 23px;
    color: #FFFFFF;
    padding: 16.57px 17px;
}

/**************88
******seckcion4***/
.section4__Leave {
    display: flex;

}

.section4__Leave_ul-back {
    background-image: url(imeges/tor23.png);
    background-repeat: no-repeat;
    width: 1006px;
    height: 645px;
}

.section4__Leave_ul {
    position: relative;
    left: 65px;
}

.section4__Leave_li {
    list-style-type: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin-left: 150px;
}

.section4__Leave_bc {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    height: 55.76px;
    width: 55.76px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 16.39px;
}

.section4__Leave_li {
    display: flex;
    margin-top: 90px;
}

.section4__Leave_bc-p {
    margin-top: 10.89px;
}

.section4__form {
    margin-top: 106px;
    margin-right: 100px;
}

.section4__form_back {
    width: 506px;
    height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.section4__form_h2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 28px;
}

.section4__form_form {
    margin-top: 39px;
    margin-left: 49px;
}

.section4__form_block1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
    width: 408px;
    margin-top: 48px;
}

.section4__form_label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.section4__form_span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.section4__form_in {
    background: #131313;
    border: none;
    width: 75px;
}

.section4__form_checkbox {
    margin-top: 10px;
}

.section4-form__checkbox_label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.submitform2 {
    width: 213px;
    height: 51px;
    margin-left: 195px;
    margin-top: 57.72px;
}

.section4__form_icon-tit {
    display: flex;
}

.section4__form_icon {
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    height: 72px;
    width: 72px;
    border-radius: 50px;
    margin-top: 38.44px;
    margin-left: 49px;
}

.section4__form_img {
    margin: 19.48px 16px 19.48px 16px
}

.section4__form_tit {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin-left: 25px;
    margin-top: 50.94px;
}

/*****************
****seccion5*****/
.section5 {
    margin-top: 242.09px;
}

.section5-mob {
    display: none;
}

.section5__container_back {
    max-width: 1440px;
    height: 864px;
    background-image: url(imeges/fr.jpg);
    display: flex;

}

.section5__container_img {
    display: flex;
    margin-left: 200px;
}

.section5__container_img1 {
    position: relative;
    top: -60px;
    right: 40px;
}

.section5__container_img2 {
    position: relative;
    top: -120px
}

.section5__container_img-mar4 {
    margin-top: 36.77px;
}

.section5__container_img-mar2 {
    position: relative;
    top: 40px;
}

.section5__container_nav {
    margin-top: 100.47px;
    margin-left: 99px;
}

.section5__container_h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.section5__container_li {
    list-style: none;
    margin-top: 25px;
}

.section5__container_li a {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
}

.section5__container_li a:hover {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
    text-decoration: underline;
}

/*********************
*********************
*****seckcion6****/
.section6__container_tit-img {
    width: 476px;
    height: 161px;
}

.section6__container_h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.section6__container_im {
    display: block;
    margin: 0 auto;
}

.section6__container_p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.section6__container_block {
    background-image: url(imeges/Frame.jpg);
    height: 776px;
    max-width: 100%;
}

.section6__container_block-container {
    margin-left: 141px;

}

.section6__container_block1 {
    height: 428px;
    max-width: 376px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.section6__container_name {
    display: flex;
}

.section6__container_nam-imeges {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-top: 24px;
    margin-right: 10px;
}

.section6__container_p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.section6__container_m2-days {
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    width: 293.75px;
    height: 54px;
    display: flex;
    margin-top: 63px;
}

.section6__container_span {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 17px;
    margin-left: 15.39px;
}

.section6__container_m2 {
    border-right: 0.75px solid #FFFFFF;
    width: 135px;
    height: 54px;
    display: flex;
}

.section6__container_img {
    height: 30px;
    max-width: 29.46px;
    margin-top: 11px;
    margin-left: 17.36px;
}

.section6__container_days {
    display: flex;
}

.section6__container_block-container {
    display: flex;
}

.section6__container_block1 {
    margin-right: 54px;
}

/********************
*******seckcion7*******/
.section7 {
    position: relative;
    padding-bottom: 15px;
    max-width: 100%;
    background-image: url(imeges/hero72.jpg);
    background-size: cover;
}

.section7-container {
    position: relative;
    width: 883px;
    height: 445.32px;
    background: #131313;
    margin: 0 auto;
    top: -223px;
    z-index: 1;
}

.section7__form_h3 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.section7__form {
    padding: 34px 181px;
}

.section7__form_name-tel {
    display: flex;
    margin-top: 45px;
}

.section7__form_block1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
    width: 231px;
    margin-right: 57.99px;
}



.section7__form_block2 {
    width: 462px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
    margin-top: 48px;
}

.section7__form_checkbox {
    margin: 30px 110px;
}

.section7_overlo {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 24, 24, .9);
}

.submitform3 {
    margin-left: 160px;
    height: 51px;
    width: 200px;
    margin-top: 50.45px;
}

.section7__h1 {
    position: relative;
    top: -156px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    z-index: 1;
}

.container__h1-img {
    display: flex;
}

.section7__icon {
    position: relative;
    z-index: 1;
    top: -150px;
    margin: 0 auto;
}

.section7_kart {
    display: flex;
}

.section7_kart2 {
    position: relative;
    z-index: 1;
    height: 456px;
    width: 925px;
    top: -150px;
    margin: 0 auto;
    background-image: url(imeges/kart.jpg);
}

.masage,
.post {
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 9.27px;
}

.post {
    background-image: url(imeges/post.jpg);

}

.inst {
    background-image: url(imeges/insta.jpg);
}

/****************
******footer****/
.footer {
    background: #181818;
    overflow: hidden;
}

.section5__container_h1-mob {
    display: none;
}

.imege-mob {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

label {
    padding-left: 9px;
}

label.checkbox-lab::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #E3B873;
    display: inline-block;
    margin-right: 9px;
}

input[type="checkbox"]:checked+label::before {
    content: '';
    background-image: url(imeges/chec.jpg);
    background-size: 100%;
}

.button,
.checkbox-lab,
.leftslaid,
.richtslaid,
.button-col {
    cursor: pointer;
}
